{% extends "shop/layouts/main.html" %}
{% load static %}

{% block title %}
Mobiles | Online Shopping

{% endblock title %}
{% block content %}
<section class="bg-light py-4 my-5" style="min-height:600px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-3"> {{products}} Details</h4>
                <hr style="border-color:#b8bfc2">
                <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                  <li class="breadcrumb-item"><a href="{% url 'collections' products.category.name %}">Collections</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{products.name}}</li>
                </ol>
              </nav>
              {% include "shop/inc/message.html" %}
            </div>
            <div class="col-4 my-3 pic-box">
                {% if products.trending  %}
                <div class="hot">Hot</div>
                {% endif %}
                <img src="{{products.product_image.url}}" class="card-image-top" alt="{{products}}">
            </div>
            <div class="col-8 my-3">
                <h5 class="text-success"> {{products.name | upper}}</h5>
                <p><b>Seller Name:</b> {{products.vendor}} </p>
                <p style="text-align:justify;">{{products.description}}</p>
                
                <h6 class="my-2 text-danger"><b>Current Price:</b> Rs. <s>{{products.original_price}}</s></h6>
                <h6 class="my-2 text-primary"><b>Offer Price:</b> Rs. {{products.selling_price}}</h6>
                <div class = "my-3">
                    {% if products.quantity > 0 %}
                    <button class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                    {% else %}
                    <button class="btn btn-secondary"><i class="fa fa-minus"></i> Out of stock</button>
                    {% endif %}
                    <button class="btn btn-danger"><i class="fa fa-heart"></i></button>
                    
                </div>
            </div>
        </div>

    </div>
</section>

{% endblock content %} 